<!-- BEGIN PAGE BREADCRUMB -->
<ul class="breadcrumb">
    <li>
        <a href="/#/">Home</a>
    </li>
    <li>
        <a href="#">Hourly Sales</a>
    </li>
    <li>
        <a class="active" href="#">Single Entry</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-init="initSingleEntry()">
    <div class="col-md-12">

        <div class="todo-content">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Single Entry Hourly Sales
                    </div>
                    <div class="inputs margin-left-10">
                        <div class="portlet-input input-inline input-small">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control searchText" ng-model="query" placeholder="search...">
                            </div>
                        </div>
                    </div>
                    <div class="actions margin-left-10 accordion" id="accordionActions2">
                        <a class="btn btn-circle btn-icon-only btn-default accordion-toggle tooltips" data-toggle="collapse"
                           data-parent="#accordionActions2" data-target="#collapseOptions2" aria-expanded="true" href="#"
                           data-original-title="Options">
                            <i class="icon-wrench"></i>
                        </a>
                        <a href="#" class="btn btn-circle btn-default btn-fullscreen btn-icon-only fullscreen"
                           data-original-title="" title="">
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default tooltips" href="javascript:;"
                           data-original-title="Help">
                            <i class="icon-speech font-purple"></i>
                        </a>
                    </div>

                </div>
                <div class="portlet-body">
                    <div id="collapseOptions2" class="collapse" aria-expanded="false" style="height: 0px;">

                        <div class="portlet light grey-steel no-padding-bottom">
                            <div class="portlet-title no-margin-bottom">
                                <div class="caption font-grey-cascade">
                                    <span class="caption-subject uppercase"> Options</span>
                                </div>
                                <div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default tooltips"
                                       data-original-title="Reset all options to default">
                                        <i class="icon-refresh"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="list-group">
                                    <li class="list-group-item bg-grey-steel no-padding-sides">
                                        <div class="form-group clearfix">
                                            <label class="col-md-8 control-label no-padding-sides font-grey-cascade">
                                                Show all records on one page?
                                            </label>

                                            <div class="col-md-4 no-padding-sides text-right">
                                                <input type="checkbox" class="showAllRecords">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th class="text-right">Hour</th>
                            <th class="text-right">Total Sales</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="entry in entries | filter:query">
                            <td>{{ entry.Date }}</td>
                            <td class="text-right">{{ entry.Hour }}</td>
                            <td class="text-right">{{ entry.TotalSales }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
<script type="text/javascript">
//    $('table').DataTable();
</script>